body {
    background-color: #eeeeee;
}
.cat_list {
    padding-top: 35px;
}

.cat_list > li {
    font-size: 1.8em;
    list-style: none;
}

.post-content pre {
    color: white;
    background-color: black;
}

.link-to-github {
    position: fixed;
    bottom: 45px;
    right: 10px;
    opacity: 0.7;
}

.link-to-github a {
    color: black;
}

.link-to-github:hover {
    opacity: 1.0;
}

.post-header {
    height: 35px;
}

.post-content h2 {
    font-size: 28px;
}

.post-content pre {
    padding-left: 10px;
}

footer {
    z-index: 1;
    background-color: #343a40;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 991px) {
    .none {
        display: none;
    }
}