body {
    background-color: #eeeeee;
}

.post-content pre {
    color: white;
    background-color: black;
}

.link-to-github {
    position: fixed;
    bottom: 45px;
    right: 10px;
    opacity: 0.7;
}

.link-to-github a {
    color: black;
}

.link-to-github:hover {
    opacity: 1.0;
}

footer {
    z-index: 1;
    background-color: #343a40;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
